body {
  margin: 0;
  font-family: "Courier new", Courier, monospace;
    
    background: linear-gradient(89deg, rgba(34,193,195,1) 0%, rgba(185,45,253,1) 100%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button{
  cursor: pointer;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
